@media (min-width: 1200px) {
  .container{
      max-width: 900px;
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.white-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.soft-gray-section {
  background-color: #f4f5f5;
  height: calc(100vh - 128px);
}

.category-section {
  padding-top:80px;
}

.search-box {
  max-width: 600px;
  margin: auto;
}