@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
  }

  .categorytitle-section {
    padding-top:40px; 
    font-weight: 500px;
    margin-bottom: 5px;
  }

  .articles-list {
    margin-top: 5px;
    padding: 15px;
  }

  .hoverwell {
    background-color: #fff;
    border: 3px solid #DAE0E6;
  }
  
  .hoverwell:hover {
    background-color: #DAE0E6;
    cursor: pointer;
  }

  .article-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .article-title {
    padding: 5px;
    font-weight: 600;
  }

  .contact-section {
    margin-top: 80px;
    margin-bottom: 10px;
    background-color: #DAE0E6;
    height: 350px;
  }

  .contact-title {
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-align: center;
  }
