<div class="container">
    <div class="row" style="padding-top:20px;">
        <div class="col-lg-3" style="border-right: 3px solid #dfe3e8;">
            <div class="input-group search-box center" style="padding-top:25px;">
                <input class="form-control border-secondary" type="search" placeholder="Search team wiki...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="test1 category-title" (mouseenter)="mouseEntered()" (mouseleave)="mouseLeft()">
                <div class="category-text">
                    <h5><strong>Active Directory</strong></h5>
                </div>
                <div class="create-article-button" *ngIf="!HideCreateArticleButton" routerLink="/team-wiki/create"><i
                        class="fa fa-plus-square"></i></div>
            </div>
            <div class="test1"><a href="team-wiki">How to create an employee account</a></div>
            <div class="test1"><a href="team-wiki">How to create an offnet account</a></div>
            <div class="test1"><a href="team-wiki">How to create a hyperion account</a></div>
            <div class="test1"><a href="team-wiki">VPN security group memberships</a></div>
            <div class="test1"><a href="team-wiki">How to find a bitlocker key</a></div>
            <div class="test1 category-title">
                <h5><strong>Exchange</strong></h5>
            </div>
            <div class="test1"><a href="team-wiki">How to add members to a distribution group</a></div>
            <div class="test1"><a href="team-wiki">How to add owners to a distribution group</a></div>
            <div class="test1"><a href="team-wiki">How to add an owner to shared mailbox</a></div>
            <div class="test1"><a href="team-wiki">How to give send permissions to a mailbox</a></div>
            <div class="test1"><a href="team-wiki">How to setup forwarding on a mailbox</a></div>
            <div class="test1"><a href="team-wiki">How to create a distribution group</a></div>
            <div class="test1"><a href="team-wiki">How to modify the email address on a distribution group</a></div>
            <div class="test1"><a href="team-wiki">Create a 365 contact</a></div>
            <div class="test1"><a href="team-wiki">How to give full access to a mailbox</a></div>
            <div class="test1 category-title">
                <h5><strong>Fiori</strong></h5>
            </div>
            <div class="test1"><a href="team-wiki">How to troubleshoot login issues</a></div>
            <div class="test1 category-title">
                <h5><strong>Active Directory</strong></h5>
            </div>
            <div class="test1"><a href="team-wiki">How to create an employee account</a></div>
            <div class="test1"><a href="team-wiki">How to create an offnet account</a></div>
            <div class="test1"><a href="team-wiki">How to create a hyperion account</a></div>
            <div class="test1"><a href="team-wiki">VPN security group memberships</a></div>
            <div class="test1"><a href="team-wiki">How to find a bitlocker key</a></div>
        </div>
        <div class="col-lg-9" style="padding-top:20px; padding-left:80px;">
            <h3>How to create an employee account</h3>
        </div>
    </div>
</div>