<div class="box-container">
    <div class="header-container">
        <div class="title-settings-header inline-block">Bulleted List Settings</div>
        <button type="button" class="close x-icon" aria-label="Close" (click)="closeBulletedListSettingsMenu()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div style="border-top: 1px solid #dfe3e8;">
        <form class="setting-element" style="padding: 10px;">
            <div class="form-group">
                <label style="margin-bottom:5px;padding-left:3px;">List Items</label>
                <div *ngFor="let item of bulletedList.contents; let id = index; trackBy:trackByFn">
                    <input class="form-control" style="margin-bottom:10px;"
                        (input)="updateBulletedListContent($event, id)" value="{{item}}" />
                </div>
            </div>
        </form>
    </div>
    <div class="column-spacer"></div>
    <div class="setting-element" style="border-top: 1px solid #dfe3e8; min-height: 60px;">
        <button (click)="deleteComponent()" type="button" class="btn btn-block btn-danger">Delete</button>
    </div>
</div>