<div class="box-container">
    <div class="header-container">
        <div class="title-settings-header inline-block">Image-Left Settings</div>
        <i class="fa fa-times x-icon" (click)="closeImageLeftSettingsMenu()"></i>
    </div>
    <div style="border-top: 1px solid #dfe3e8;">
        <form class="setting-element" style="padding: 10px;">
            <div class="form-group">
                <label style="margin-bottom:5px;padding-left:3px;">Image</label>
                <textarea class="form-control" rows="5" (input)="updateImageLeftContentMessage($event)"
                    value>{{imageLeft.contents}}</textarea>
            </div>
        </form>
    </div>
    <div class="setting-element" style="border-top: 1px solid #dfe3e8; min-height: 60px;">
        <button (click)="deleteComponent()" type="button" class="btn btn-block btn-danger">Delete</button>
    </div>
</div>