<div class="box-shadow-container">
    <div class="header-container">
        <div class="title-settings-header inline-block">Subheader Settings</div>
        <i class="fa fa-times x-icon" (click)="closeSubheaderSettingsMenu()"></i>
    </div>
    <div style="border-top: 1px solid #dfe3e8;">
        <form class="setting-element" style="padding: 10px;">
            <div class="form-group">
                <label style="margin-bottom:5px;padding-left:3px;">Subheader</label>
                <textarea class="form-control" rows="2" 
                    (input)="updateSubheaderContent($event)" value>{{subheader.contents}}</textarea>
            </div>
        </form>
    </div>
</div>