<div class="container">
    <div class="row">
        <div class="col-lg-3" *ngIf="showConfiguration">
            <div class="configuration-section-1">
                <div *ngFor="let component of newArticle.articleContents">
                    <div *ngIf="isTitleSection(component)" class="configuration-object">
                        <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                        </div>
                    </div>
                    <div *ngIf="isRichTextSection(component)" class="configuration-object">
                        <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                        </div>
                        <div class="configuration-order">
                            <i class="fa fa-sort-up block"></i>
                            <i class="fa fa-sort-down block"></i>
                        </div>
                    </div>
                </div>

                <div class="add-configuration-object" style="text-align:center" (click)="toggleAddSection()">
                    <div class="inline-block" style="line-height: 2rem;">Add Section</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" *ngIf="showSettings">
            <div class="configuration-section-1">
                Settings
            </div>
        </div>
        <div class="col-lg-3" *ngIf="showAddSection">
            <div class="add-item-section">
                <div class="header-container box-shadow-container">
                    <div class="header-element inline-block">Add Section</div>
                    <i class="fa fa-times x-icon" (click)="toggleConfigurationSection()"></i>
                </div>
                <div class="box-shadow-container">
                    <div class="title-element">Text</div>
                    <div class="add-item-element" style="border-top: 2px solid #dfe3e8;" (click)="addRichTextComponent()">RichText</div>
                    <div class="add-item-element">Step Divider</div>
                    <div class="add-item-element">Bulleted List</div>
                    <div class="add-item-element">Numbered List</div>
                </div>
                <div class="box-shadow-container">
                    <div class="title-element">Images</div>
                    <div class="add-item-element" style="border-top: 2px solid #dfe3e8;">Full-width Image</div>
                    <div class="add-item-element">Image-left with text</div>
                    <div class="add-item-element">Image-right with text</div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div *ngFor="let component of newArticle.articleContents">
                <h3 *ngIf="isTitleSection(component)">{{component.contents}}</h3>
                <div *ngIf="isRichTextSection(component)">{{component.contents}}</div>
            </div>
        </div>
    </div>