<div class="container">
    <div class="row">
        <div class="col-lg-3" *ngIf="showArticleContents">
            <article-contents-menu [newArticle]="newArticle" 
                                   (openAddItemMenu)="toggleShowAddItemMenu($event)"
                                   (openTitleSettings)="toggleTitleSettings($event)"></article-contents-menu>
        </div>
        <div class="col-lg-3" *ngIf="showArticleSettings">
            <article-settings-menu></article-settings-menu>
        </div>
        <div class="col-lg-3" *ngIf="showAddItemMenu">
            <add-item-menu (addArticleItem)="addArticleItem($event)"
                           (closeMenu)="toggleConfigurationSection($event)"></add-item-menu>
        </div>
        <div class="col-lg-3" *ngIf="showTitleSettings">
            <title-settings-menu [newArticle]="newArticle" 
                                 (updateTitleContentMessage)="updateTitleContent($event)"
                                 (closeTitleSettingsMenuMessage)="toggleConfigurationSection($event)"></title-settings-menu>
        </div>
        <div class="col-lg-9">
            <div *ngFor="let component of newArticle.articleContents">
                <h3 *ngIf="isTitleComponent(component)">{{component.contents}}</h3>
                <div *ngIf="isStepDividerComponent(component)" style="margin-top: 10px;">
                    <div style="font-size:20px; margin-bottom:5px;">{{component.contents}}</div>
                    <div style="border-bottom: 2px solid #DAE0E6; margin-bottom:10px;"></div>
                </div>
                <div *ngIf="isRichTextComponent(component)">{{component.contents}}</div>
            </div>
        </div>
    </div>