@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
  }

.container {
    font-family: "Segoe UI";
}

hr {
    margin: 5px 0px 16px 0px;
}

.col-lg-3 {
    background-color:#ebeced; 
    min-height: 93vh;
    padding: 0px;
}

.col-lg-9 {
    padding-left: 40px;
    padding-top: 40px;
}

.inline-block {
    display: inline-block;
}

.form-group {
    margin-bottom: 0px !important;
}

.configuration-order {
    float: right;
}

.configuration-section-1 {
    padding-top: 40px;
}

.configuration-object {
    min-height: 60px;
    cursor: pointer;
    background-color: white;
    padding: 12px 20px;
    border-top: 2px solid #dfe3e8;
    border-right: 2px solid #dfe3e8;
    border-left: 2px solid #dfe3e8;
}

.add-configuration-object {
    height: 60px;
    cursor: pointer;
    background-color: white;
    padding-top: 12px;
    font-weight: 600;
    border-top: 2px solid #dfe3e8;
    border-right: 2px solid #dfe3e8;
    border-left: 2px solid #dfe3e8;
    border-bottom: 2px solid #dfe3e8;
}

.add-item-section {
    padding-top: 0px;
}

.title-element {
    min-height: 50px;
    padding: 12px 20px;
    font-weight: 500;
    line-height: 1.5rem;
}

.box-shadow-container {
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
}

.header-container {
    min-height: 60px;
    background-color:white;
    text-align: center;
}

.header-element {
    padding-top: 14px;
    padding-left: 30px;
    font-weight: 600 !important;
    line-height: 2rem;
}

.add-item-element {
    height: 50px;
    cursor: pointer;
    padding: 10px 20px;
    line-height: 1.5rem;
    background-color: white;
    border-bottom: 2px solid #dfe3e8;
}

.add-item-element:hover {
    border-right: 4px solid lightskyblue;
}

.title-settings-header {
    padding-top: 14px;
    padding-left: 30px;
    font-weight: 600 !important;
    line-height: 2rem;
}

.setting-element {
    min-height: 50px;
    cursor: pointer;
    padding: 10px;
    line-height: 1.5rem;
    background-color: white;
}

.block {
    display: block;
}

.x-icon {
    float: right;
    line-height: 2rem;
    font-weight: 100;
    padding: 14px 20px 14px 0px;
    cursor: pointer;
}