<div class="configuration-section-1">
    <div class="article-menu">
        <div class="article-item-active" style="margin-right: 5px;">Sections</div>
        <div class="article-item">Article Settings</div>
    </div>
        <div *ngFor="let component of newArticle.articleContents;let i = index"
            (mouseenter)="highlightComponent(i)"
            (mouseleave)="dehighlightComponent(i)">
            <div *ngIf="isTitleComponent(component)" class="configuration-object-container" style="margin-top: 10px;"
                 (click)="toggleTitleSettings(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
            </div>
            <div *ngIf="isTextComponent(component)" class="configuration-object-container"
                (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;"
                     (click)="toggleTextSettings(i)">
                     {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block up-icon" (click)="moveComponentUp(i)"></i>
                    <i class="fa fa-sort-down block down-icon" (click)="moveComponentDown(i)"></i>
                </div>
            </div>
            <div *ngIf="isSubheaderComponent(component)" class="configuration-object-container"
                (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;"
                     (click)="toggleSubheaderSettings(i)">
                     {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block up-icon" (click)="moveComponentUp(i)"></i>
                    <i class="fa fa-sort-down block down-icon" (click)="moveComponentDown(i)"></i>
                </div>
            </div>
            <div *ngIf="isBulletedListComponent(component)" class="configuration-object-container"
                (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;"
                     (click)="toggleBulletedListSettings(i)">
                     {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block up-icon" (click)="moveComponentUp(i)"></i>
                    <i class="fa fa-sort-down block down-icon" (click)="moveComponentDown(i)"></i>
                </div>
            </div>
            <div *ngIf="isNumberedListComponent(component)" class="configuration-object-container"
                (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;"
                     (click)="toggleNumberedListSettings(i)">
                     {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block up-icon" (click)="moveComponentUp(i)"></i>
                    <i class="fa fa-sort-down block down-icon" (click)="moveComponentDown(i)"></i>
                </div>
            </div>
            <div *ngIf="isImageLeftComponent(component)" class="configuration-object-container"
                (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;"
                     (click)="toggleImageLeftSettings(i)">
                     {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block up-icon" (click)="moveComponentUp(i)"></i>
                    <i class="fa fa-sort-down block down-icon" (click)="moveComponentDown(i)"></i>
                </div>
            </div>
            <div *ngIf="isImageRightComponent(component)" class="configuration-object-container"
                (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;"
                     (click)="toggleImageRightSettings(i)">
                     {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block up-icon" (click)="moveComponentUp(i)"></i>
                    <i class="fa fa-sort-down block down-icon" (click)="moveComponentDown(i)"></i>
                </div>
            </div>
            <div *ngIf="isFullWidthImageComponent(component)" class="configuration-object-container"
                (mouseenter)="highlightComponent(i)"
                (mouseleave)="dehighlightComponent(i)">
                <div class="configuration-object inline-block" style="line-height: 2rem;"
                     (click)="toggleFullWidthImageSettings(i)">
                     {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block up-icon" (click)="moveComponentUp(i)"></i>
                    <i class="fa fa-sort-down block down-icon" (click)="moveComponentDown(i)"></i>
                </div>
            </div>
        </div>

        <div class="add-configuration-object" style="text-align:center; margin-bottom: 50px;" (click)="showAddItemMenu()">
            <div class="inline-block" style="line-height: 2rem;">Add Section</div>
        </div>
    </div>