.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.add-configuration-object {
    height: 60px;
    cursor: pointer;
    background-color: white;
    padding-top: 12px;
    font-weight: 600;
    border-top: 2px solid #dfe3e8;
    border-right: 2px solid #dfe3e8;
    border-left: 2px solid #dfe3e8;
    border-bottom: 2px solid #dfe3e8;
}

.configuration-section-1 {
    padding-top: 40px;
    width: 100%;
    position: absolute;
}

.configuration-object-container {
    min-height: 60px;
    background-color: white;
    border-top: 2px solid #dfe3e8;
    border-right: 2px solid #dfe3e8;
    border-left: 2px solid #dfe3e8;
}

.configuration-object {
    padding: 12px 20px;
    cursor: pointer;
    min-width: 80%;
}

.configuration-order {
    float: right;
    padding: 5px 10px;
}

.up-icon {
    height: 24px;
    padding: 6px 0px;
    cursor: pointer;
    width: 30px;
    color: rgba(0,0,0,.8);
    text-align: center;
    line-height: 1rem;
}

.down-icon {
    height: 24px;
    padding: 6px 0px;
    cursor: pointer;
    width: 30px;
    color: rgba(0,0,0,.8);
    text-align: center;
    line-height: .5rem;
}