<div class="configuration-section-1">
        <div *ngFor="let component of newArticle.articleContents;let i = index">
            <div *ngIf="isTitleComponent(component)" class="configuration-object"
                (click)="toggleTitleSettings(i)">
                <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
            </div>
            <div *ngIf="isRichTextComponent(component)" class="configuration-object"
                (click)="toggleRichTextSettings(i)">
                <div class="inline-block" style="line-height: 2rem;">
                    {{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block"></i>
                    <i class="fa fa-sort-down block"></i>
                </div>
            </div>
            <div *ngIf="isSubheaderComponent(component)" class="configuration-object"
                 (click)="toggleSubheaderSettings(i)">
                <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block"></i>
                    <i class="fa fa-sort-down block"></i>
                </div>
            </div>
            <div *ngIf="isBulletedListComponent(component)" class="configuration-object">
                <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block"></i>
                    <i class="fa fa-sort-down block"></i>
                </div>
            </div>
            <div *ngIf="isNumberedListComponent(component)" class="configuration-object">
                <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block"></i>
                    <i class="fa fa-sort-down block"></i>
                </div>
            </div>
            <div *ngIf="isImageLeftComponent(component)" class="configuration-object">
                <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block"></i>
                    <i class="fa fa-sort-down block"></i>
                </div>
            </div>
            <div *ngIf="isImageRightComponent(component)" class="configuration-object">
                <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block"></i>
                    <i class="fa fa-sort-down block"></i>
                </div>
            </div>
            <div *ngIf="isFullWidthImageComponent(component)" class="configuration-object">
                <div class="inline-block" style="line-height: 2rem;">{{component.selector}}
                </div>
                <div class="configuration-order">
                    <i class="fa fa-sort-up block"></i>
                    <i class="fa fa-sort-down block"></i>
                </div>
            </div>
        </div>

        <div class="add-configuration-object" style="text-align:center" (click)="showAddItemMenu()">
            <div class="inline-block" style="line-height: 2rem;">Add Section</div>
        </div>
    </div>